.appartment{
    width: 100%;
    height: 255px;
    position: relative;
    margin-bottom: 20px;
    border-radius: 10px;
    //background-color: #ff6060;
    overflow: hidden;
    
    display: flex;
    align-items:baseline;
    justify-content: flex-start;
    flex-direction: column-reverse;
    
    &_img{
        height: inherit;
        width: inherit;
        object-fit: cover;
        position: absolute;
        border-radius: 10px;
        z-index: 0;
        background-color: rgba(0, 0, 0, 15);
        opacity: 3;
        filter: brightness(0.7);
    }

    /*&_overlay{
        background: linear-gradient(hsla(0, 0%, 100%, 0), rgba(0, 0, 0, .502));
        border-radius: inherit;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
    }*/
   
    &_subtitre{
       width: 37%;
       margin: 15px 20px;
       color: #FFF;
       font-size: 18px;
       font-style: normal;
       font-weight: 700;
       line-height: 142.6%;
       z-index: 1;
    }

}